body, html {
    height: 100%;
}

#wrapper {
    height: 100%;
}

#page-content-wrapper {
    margin-top: 0px;
}
.rowWithSide {
    display: flex;
}

#sidebar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #242931;
    padding-left: 0px;
    padding-right: 0px;
    flex: 0 0 15em;
}

.sidebar {
    width: 100%;
    margin-bottom: 20px;
}


#sidebar-wrapper ul li {
    border-bottom: 1px solid rgba(81, 83, 85, 0.8);
}
#sidebar-wrapper ul li:last-child {
    border-bottom: none;
}
#sidebar-wrapper ul a {
    display: block;
    color: #8a96a6;
    text-decoration: none;
    font-size: 11px;
    padding: 10px 10px 10px;
    text-transform: uppercase;
}

#sidebar-wrapper ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

#sidebar-wrapper ul li a:hover {
    background-color: #fafcfd;
    color: #d00000;
}

#sidebar-wrapper ul li.active {
    border-bottom: none;
}

#sidebar-wrapper ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

#sidebarText {
    width: 100%;
    color: #5b9bd1;
    margin-bottom: auto;
}

#sidebarFooter {
    width: 100%;
    color: #5b9bd1;
    align-self: flex-end;
}

#main-page-content {
    padding-top: 30px;
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
}
