.vehicleDetailWrap_2 {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #262a31;
    margin-bottom: -6px;
}
.vehicleDetailWrap_2 a.View-btn {
    color: #ffffff !important;
}

.vehicleListing {
    position: relative;
    color: #fff !important;
    display: inline-block;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-weight: 900;
}

.vehicleListing p.typeIcon {
    display: inline;
}
.vehicleListing p.typeIcon span {
    color: #fff !important;
    position: absolute;
    display: inline-block;
    right: -29px;
    bottom: -29px;

    background: #d93131;
    width: 58px;
    /* padding: 3px 10px; */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    height: 58px;
}

.vehicleListing p.typeIcon img{
    position: absolute;
    display: inline-block;
    height: 25px;
    width: 25px;
    bottom: 0;
    right: 0;
}

.recentVehicleTag p.recent {
    display: inline;
}
.recentVehicleTag p.recent span {
    color: #fff !important;
    position: absolute;
    display: inline-block;
    right: -25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
    text-align: center;
    text-transform: uppercase;
    top: 11px;
    background: #d93131;
    width: 100px;
    padding: 3px 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.classifiedBox {

    background-color: #e8eaef;
}
.classifiedBox .cs-categories a {
    color: #252525 !important;
}